  <div class="container-fluid">

    <style>
      .deconnexion {
        position: relative;
        left: 80%;
      }

      @media only screen and (max-width: 475px) {
        .deconnexion {
          left: 50%;
        }
      }

      @media only screen and (min-width: 499px) and (max-width: 857px) {

        .deconnexion {
          left: 65%;
        }
      }
    </style>
    <div class="row flex-nowrap">

      <main class="col ps-md-2 pt-2  " style=" height: 100vh ;">
        <div class="container">


          <div class="row ro py-3">


            <h3>La liste des pointages</h3>
            <div class="trait"></div>
            <div class="position">
              <button class="btn btnAjouter">23/02/2023</button>
              <form action="">
                <button class="btn btnAjouter recherche" style="display:flex ;"><i class="bi bi-search py-1"></i> <input
                    type="text" style="border: hidden; border: 0; background: transparent;"></button>
              </form>
             

              <form >
                <select name="designation" id="designation" class="form-select form-control bi bi-filter-right recherche"style="display:flex ;" >
                  <option selected class=" btnAjouter ">Filtrer par Formation</option>
                  <option>cvfbfgbgf</option>
                  
                </select>
              </form>

            </div>
            <div class="table-responsive ra py-5">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="ra">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Formation</th>
                    <th scope="col">Heure d'arrivée</th>
                    <th scope="col" class="raf">Heure de départ</th>

                  </tr>
                </thead>
                <!-- <tbody>
                  <tr *ngFor="let pointeur of infopointage ">
                    <td scope="row">{{pointeur.user.nom}}</td>
                    <td>{{pointeur.user.prenom}}</td>
                    <td>{{pointeur.nomformation.intituleformation}}</td>
                    <td >{{pointeur.date}}</td>
                    <td >{{pointeur.heurefin }}</td> -->

                    <tbody *ngIf="infopointage?.length > 0">
                      <tr  *ngFor="let pointeur of infopointage | paginate: { itemsPerPage: 3, currentPage: page }">
                        <td scope="row">{{pointeur.users.nom}}</td>
                        <td>{{pointeur.users.prenom}}</td>
                        <td>{{pointeur.users.liste.libelleliste}}</td>
                        <td>{{pointeur.date}}</td>
                        <td >{{pointeur.heurefin}}</td>
                        <!-- <td >{{pointeur .dateSoumission}}</td> -->
                        <td>

                  </tr>
                   

                </tbody>
              </table>

              <div class="d-flex justify-content-center py-3 custom-pagination ">
                <pagination-controls  previousLabel="Précedente"
                nextLabel="Suivante" (pageChange)="page = $event"
                class="my-pagination"></pagination-controls>
                
            </div>
            <style>
              .custom-pagination ::ng-deep .page-item.active .page-link {
                background-color: orange;
                border-color: orange;
              }
            </style>
             
           
            </div>
          </div>


        </div>
      </main>
    </div>
  </div>


