
<ion-content>
  <style>
    .collapsing {
      -webkit-transition: none;
      transition: none;
      display: none;
    }
  </style>
  
   <div id="sidebar" class="collapse collapse-horizontal  show ">
    <div id="sidebar-nav" class="list-group border-0  hh rounded-0 text-sm-start">
      <div  > 
        <img src="../assets/images/logo.png" style="height: 75px; width: 150px;" alt="">
      </div>
      <div class="py-3"></div>
      <ul class=" nav nav-pills mb-sm-auto mb-0 min-vh100  ul align-items-sm-start" id="menu">
        <li class=" py-4">
      
          <div class="row px-2" routerLink="/profile-user-profile">
            <div class="col"  > 
              <img src="../../assets/images/photo1.jpg" style="height:100%; width:100%; border-radius: 50%;"
                alt="">    
            </div>
            <div class="col nom" >
              <span>Aly</span>
              <span>KONTE</span>
            </div>
          </div>
     
  
        </li>
       <li [routerLinkActive]=" 'active' " class="li ">
          <a routerLink="/accueil-user" class="nav-link  align-middle li">
            <i class="bi bi-house"></i> <span class="ms-1  d-sm-inline light px-3">Accueil</span></a>
        </li>
        <!-- <li [routerLinkActive]=" 'active' " class="li ">
          <a  routerLink="/admin-accueil" class="nav-link  align-middle li">
            <i class="bi bi-grid-3x3-gap-fill"></i> <span class="ms-1  d-sm-inline light px-3">Tableau bord</span></a>
        </li> -->
        <li [routerLinkActive]="'active'"  class="li">
  
          <a routerLink="/liste-globale" class="nav-link  align-middle li">
            <i class="bi bi-card-checklist"></i> <span class="ms-1  d-sm-inline light px-3">Demande de Permission</span></a>
        </li>
        <!-- L'onglet comportera 3 sous onglets ( la liste des ponctuels, la liste des retards, les sanctions) -->
        <li [routerLinkActive]="'active'" class="li">
          <a routerLink="/liste-acteur" class="nav-link  align-middle li">
                <i class="bi bi-clipboard-data"></i> <span class="ms-1  d-sm-inline light px-3">Pointages</span></a>
        </li>
        <!-- =============================== ADMIN ============================================= -->
        <li  [routerLinkActive]="'active'" class="li">
          <a routerLink="/gestionentite" class="nav-link  align-middle li">
            <i class="bi bi-person-workspace"> </i><span class="ms-1  d-sm-inline light px-3">Formations</span></a>
        </li>
        <!-- =============================== RESPONSABLE ======================================== -->
  
        <li [routerLinkActive]="'active'" class="li">
          <a routerLink="/liste-tirage" class="nav-link  align-middle li">
            <i class="bi bi-person-circle"></i> <span class="ms-1  d-sm-inline light px-3">Apprenants</span></a>
        </li>
        <li [routerLinkActive]="'active'" class="li">
          <a routerLink="/details-activite" class="nav-link  align-middle li">
            <i class="bi bi-bar-chart-line"></i> <span class="ms-1  d-sm-inline light px-3">Listes</span></a>
        </li>
        <li [routerLinkActive]="'active'" class="li">
          <a routerLink="/liste-utilisateur" class="nav-link  align-middle li">
            <i class="bi bi-person-circle"></i> <span class="ms-1  d-sm-inline light px-3">Utilisateurs</span></a>
        </li>
  
  
       
  
        
        <!-- <li style="height: 100px;"></li> -->
      </ul>
    </div>
  </div> 
  

</ion-content>

