<div class="container" >
  <div class="header">
    <div class="user-part"> 
      <div class="welcom"><p class=" "> Bienvenue <b><i>DIALLO Adjaratou !</i></b></p></div>
    
      <p class="mx-3 welcomeP">Espace Admin - Gestion des pointages</p></div>
      
    <div class="search">
      <input type="text" placeholder="Recherche">
    </div>
    <div class="notification">
      <i class="fa fa-bell"></i>
    </div>
  </div>
  <div class="cards">
    <div class="card">
      <div class="stati">
        <div class="icon">
          <i class="fas fa-user-graduate"></i>

        </div>
        <div class="home">
          <p class="pcardHome pt-4">100</p>
        </div> 

      </div>
      <div class="text">
        
        <p>Apprenants</p>
      </div>
             
    </div>
    <div class="card">
      <div class="stati">
        <div class="icon">
          <i class="fas fa-user-graduate"></i>

        </div>
        <div class="home">
          <p class="pcardHome pt-4">100</p>
        </div> 

      </div>
      <div class="text">
        
        <p>Apprenants</p>
      </div>
             
    </div>
    <div class="card">
    

      <div class="stati">
        <div class="icon">
          <i class="fas fa-chalkboard-teacher"></i>

        </div>
        <div class="home">
          <p class="pcardHome pt-3">10</p>
        </div> 

      </div>
      <div class="text">
        
        <p class="txtcardHome">Formations</p>
      </div>
    </div>
    <div class="card">
     
      <i class="fas fa-users"></i>
      <p class="pcardHome pt-3">10</p>
      <p class="txtcardHome">Formateurs</p>
    </div>
  </div>
  <div class="content">
    <div class="sub-content-1">Statistique du jour:  21/02/2023</div>
    <div class="sub-content-2">Statistique par  Mois</div>
  </div>
  <div class="footer">
    <div class="sub-footer-1">
      <div class="card">
        <img src="../assets/images/presence.png"  alt="">
             
      
        <span>90</span><br>
        <span>Présence</span>
      </div>
      <div class="card">
        <img src="../assets/images/permission.png"  alt="">
             
      
        <span>5</span><br>
        <span>Demande de permission</span>
      </div>
      <div class="card">
        <img src="../assets/images/absence.png"  alt="">
             
      
        <span>90</span><br>
        <span>Absence</span>
      </div>
      <div class="card">
        <img src="../assets/images/retard.png"  alt="">
             
      
        <span>90</span><br>
        <span>Retard</span>
      </div>
    </div>
    <div class="sub-footer-2">Place Statistique</div>
  </div>
</div>
