<div class="container-fluid ">
  <!-- <a href="#" data-bs-target="#menu" data-bs-toggle="collapse"><i
      class="bi bi-list py-2 p-1 " style="color:black;position:relative; top:2%; left:15%; font-size: 30px;"></i></a>
  <button class="btn deconnexion btn-danger"> <i class="bi bi-power "></i> Deconnexion</button> -->
  <style>
    .deconnexion {
      position: relative;
      left: 80%;
    }

    @media only screen and (max-width: 475px) {
      .deconnexion {
        left: 50%;
      }
    }

    @media only screen and (min-width: 499px) and (max-width: 857px) {

      .deconnexion {
        left: 65%;
      }
    }
  </style>
  <!-- <div class="row flex-nowrap">
    <div class="col-auto px-2" *ngIf="menuBureau">
      <app-menu></app-menu>
    </div> -->
    <main class="col ps-md-2 pt-2  " style=" height: 100vh ;">
      <div class="container">

        <!-- file, nom, description, nombrepersonnedemande, datedeb, datefin, idacteurs, idacteurInternes, libelleEntite, typeAct, libelleSalle, idresponsable, userid -->

        <form delegate-handle="dashboard"
          class="container1 container py-2"  style=" box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);"    name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

          <div class="mb-4 altert " style="border-radius:10px;">
           

          </div>
          <div class="row">
            <div class="mb-3  col-12 col-md-12 viens2  form-row form-floating">
              <ion-button slot="start" fill="transparent" (click)="Back()"> <ion-icon style="color: #FFFFFF; font-size:100;top:40%"  name="arrow-back-outline"></ion-icon></ion-button>
              <h1>Créer une Formation</h1>
            </div>
          </div>

          <div class="row">
            <div class="mb-3 col-12 col-md- viens  form-row form-floating">
              <input type="text" id="name" name="titre"  placeholder="titre" class="form form-control inputvalue"  [(ngModel)]="form.intituleformation" required #intituleformation="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && intituleformation.errors }">
              <label for="name">Titre: <span style="color: red;">*</span> </label>

              <div class="invalid-feedback" *ngIf="intituleformation
              .errors && f.submitted">
                <div *ngIf="intituleformation.errors['required']">Titre obligatoire</div>
              </div>
            </div>

           
         
            <div class="mb-3 col-12 col-md-6 form-row form-floating">
              <input type="date" id="name" placeholder="yyy/mm/dd" name="dateDebutForm"
                class="form form-control inputvalue"  [(ngModel)]="form.dateDebutForm" required #dateDebutForm="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && dateDebutForm.errors }">
              <label for="name">Date début: <span style="color: red;">*</span></label>

              <div class="invalid-feedback" *ngIf="dateDebutForm.errors && f.submitted">
                <div *ngIf="dateDebutForm.errors['required']">Date de début obligatoire</div>
              </div>
            </div>

            <div class="mb-3 col-12 col-md-6 form-row form-floating">
              <input type="date"  id="name" placeholder="yyy/mm/dd" name="dateFinForm"
                class="form form-control inputvalue"  [(ngModel)]="form.datetFinForm" required #datetFinForm="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && datetFinForm.errors }">
              <label for="name">Date fin: <span style="color: red;">*</span></label>

              <div class="invalid-feedback" *ngIf="datetFinForm.errors && f.submitted">
                <div *ngIf="datetFinForm.errors['required']">Début de fin obligatoire</div>
                <div *ngIf="datetFinForm.errors['min']">La date de fin doit être supérieure à la date de début</div>

               
              </div>
            </div>
            <div class="mb-3 col-12 col-md-6 form-row form-floating">
              <input type="time" id="name" placeholder="hh:mm" name="heureDebutForm"
                class="form form-control inputvalue"  [(ngModel)]="form.heureDebutForm" required #heureDebutForm="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && heureDebutForm.errors }">
              <label for="name">Heure de début: <span style="color: red;">*</span></label>

              <div class="invalid-feedback" *ngIf="heureDebutForm.errors && f.submitted">
                <div *ngIf="heureDebutForm.errors['required']"> Heure de début obligatoire</div>
              </div>
            </div>

            <div class="mb-3 col-12 col-md-6 form-row form-floating">
              <input type="time"  id="name" placeholder="hh:mm"  name="heureFinForm"
                class="form form-control inputvalue"  [(ngModel)]="form.heureFinForm" required #heureFinForm="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && heureFinForm.errors }">
              <label for="name">Heure de fin: <span style="color: red;">*</span></label>

              <div class="invalid-feedback" *ngIf="heureFinForm.errors && f.submitted">
                <div *ngIf="heureFinForm.errors['required']">Heure de fin obligatoire</div>
                <div *ngIf="heureFinForm.errors['min']">L'heure fin doit être supérieure à la date de début</div>
              </div>
            </div>

            <div class="mb-5 col-12 viens1 form-row form-floating">
              <textarea class="form-control"  id="exampleFormControlTextarea1" name="description" [(ngModel)]="form.description" 
                rows="3"></textarea>
              <label for="name">Description</label>
            </div>

            <div class="mb-3 col-12 col-md-6 form-row form-floating">
              <select id="sexe" class="form-select form-control inputvalue" name="formateur"[(ngModel)]="form.formateur" required
              #formatrice="ngModel" [ngClass]="{ 'is-invalid': f.submitted && formateur.errors }"
               >
                <option selected disabled>Choisir un(e) formateur(trice)</option>
                <option *ngFor=" let formateurselect of formateur" value="{{formateurselect.prenom}} {{formateurselect.nom}} ">{{formateurselect.prenom}} {{formateurselect.nom}}</option>
                
                 
                  
              </select>
              <label for="activity">Formateur<span style="color: red;">*</span></label>
            </div>
            <div class="mb-3 col-12 col-md-6 form-row form-floating">
              <select id="sexe" class="form-select form-control inputvalue" name="responsable" [(ngModel)]="form.responsable" required
              #respon="ngModel" [ngClass]="{ 'is-invalid': f.submitted && responsable.errors }" 
                >
                <option selected disabled> --- Responsable ---</option>
                <option *ngFor=" let responsableselect of responsable" value="{{responsableselect.prenom}} {{responsableselect.nom}} ">{{responsableselect.prenom}} {{responsableselect.nom}}</option>
              </select>
              <label>Responsable<span style="color: red;">*</span></label>
            </div>

            <div class="mb-3 col-12  form-row form-floating">
              <select id="sexe" class="form-select form-control inputvalue" name="libelleliste" [(ngModel)]="form.liste" required
              #respon="ngModel" [ngClass]="{ 'is-invalid': f.submitted && liste.errors }" 
                >
                <option selected disabled>Choisir la liste </option>
                <option *ngFor=" let listeselect of liste" value="{{listeselect.idliste}}">{{listeselect.libelleliste}} </option>
              </select>
              <label>Liste Apprenant<span style="color: red;">*</span></label>
            </div>
         
            <!-- <div class="mb-3 col-12  form-row form-floating">
              <input type="number" id="name" placeholder="Nom"
                class="form form-control inputvalue">
              <label for="name">Nombre d'apprenant<span style="color: red;">*</span></label>
            </div> -->

            <!-- <div class="mb-3 col-12 col-md-6 form-row form-floating">
              <input type="file"   placeholder="Nom"
                class="form form-control inputvalue">
              <label for="name">Image<span style="color: red;">*</span></label>
            </div> -->

            <!-- <div class="form-group">
              <div class="row">
                <div class="col-md-5">
                  <button type="submit" class="btn b1" >Créer</button>
                </div>

                
                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                  Echec erreur!<br />{{ errorMessage }}
                </div>


                <div class="alert alert-success" *ngIf="isSuccessful">
                  Formation ajoute avec Succès!
                </div> -->


                <!-- <div class="alert alert-success" *ngIf=" f.submitted && isSuccessful">
                  Formation ajoute avec Succès!
                </div>
                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                  Echec erreur!<br />{{ errorMessage }}
                </div>
     -->
    
                
            <!-- </div> -->

            

           
              <!-- <div class="col-4">
                <a href="ajouter-tache"> <p class="btn b2" style="background-color: black;color: white;">Ajouter tache</p> </a>
              </div> -->
            <!-- </div>-->
           </div> 
           <div class="form-group">
            <button class=" btnAjouter py-2 btn-block" type="submit">Creer</button>
          </div>

          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed ">
            Echec erreur!<br />{{ errorMessage }}
          </div>
          <div class="alert alert-success" *ngIf="isSuccessful">
            Formation ajouter avec Succès!
          </div>

          
        </form>

        
        <div>
        </div>
        <!-- Footer -->
        <footer class="footer mt-3 mb-3">
          <p class="text-center">&copy; 2023 | Tous droits réservés <span style="color:#F58220;">Orange</span> Digital
            Center</p>
        </footer>
        <style>
          footer {
            padding: 25px;
            background: #202020;
            color: #FFFFFF;
          }
        </style>
        <!-- Footer -->
      </div>
    </main>
  </div>

