<div class="container-fluid">

  <style>
    .deconnexion {
      position: relative;
      left: 80%;
    }

    @media only screen and (max-width: 475px) {
      .deconnexion {
        left: 50%;
      }
    }

    @media only screen and (min-width: 499px) and (max-width: 857px) {

      .deconnexion {
        left: 65%;
      }
    }
  </style>
  <div class="row flex-nowrap">

    <main class="col ps-md-2 pt-2  " style=" height: 100vh ;">
      <div class="container">


        <div class="row ro py-3">

          <h3>Détails de la formation {{nomformation.intituleformation}}</h3>
          <div class="trait"></div>
          <div class="position">
            <ion-button slot="start" fill="transparent" (click)="Back()"> <ion-icon style="color: #FF6000; font-size:100;top:40%"  name="arrow-back-outline"></ion-icon></ion-button>
            <button class="btn btnAjouter" routerLink="/formation">Afficher les apprenants</button>
            <form action="">
              <button class="btn btnAjouter recherche" style="display:flex ;"><i class="bi bi-search py-1"></i> <input
                  type="text" style="border: hidden; border: 0; background: transparent;"></button>
            </form>
           

          </div>
          <div class="table-responsive ra py-5">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="ra" >Responsable</th>
                  <th scope="col" >LibelleListe</th>
                  <th scope="col" >Date de debut</th>
                  <th scope="col" >Date de fin</th>
                  <th scope="col" >Description</th>
                  <th scope="col">Etat de formation</th>
                  <th scope="col" class="ra1 raf">InfoPointage</th>

                </tr>
              </thead>
              <tbody *ngIf="nomformation?.length>0">
                <tr *ngFor="let formationodc of nomformation | paginate: { itemsPerPage: 3, currentPage: page }" >
                  <td scope="row">Hamadoun </td>
                  <td scope="row">{{formationodc.listeApprenant.libelleliste}}</td>
                  <td scope="row">{{formationodc.dateDebutForm}}</td>
                  <td scope="row">{{formationodc.datetFinForm}}</td>
                  <td scope="row">{{formationodc.description}}</td>
                  <td scope="row">{{formationodc.eformation}}</td>
                  
                  <td> <button class="btn btnAjouter2  btn-block" type="submit">Voir +</button> </td>
                </tr>
                 

              </tbody>
            </table>

            <div class="d-flex justify-content-center  custom-pagination ">
              <pagination-controls  previousLabel="Précedente"
              nextLabel="Suivante" (pageChange)="page = $event"
              class="custom-pagination" color=""></pagination-controls>
              
          </div>
          <style>
            .custom-pagination ::ng-deep .page-item.active .page-link .li{
              background-color: orange !important;
              border-color: orange!important;
            }
          </style>
          
          </div>
        </div>


      </div>

      
  
    
    
    
    
    
    
    
    </main>
  </div>
</div>





